/** 
-- colours 
seafoam green : #3DB39E;
white: #fff;
charcoal: #333;
light-charcoal: #666; | strike line for price 
orange: ##dc6419;
beige: #f4f0e8;

-- typography 
base-font-family: Verdana, Geneva, Tahoma, sans-serif;
headings: 'Signika', sans-serif;
**/

