/* COLOUR PALETTE
    dark    #333;
    navy    #37384c;
    creme   #e9dccc;
*/

body {
    background-color: #e9dccc;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

/* Utility Classes */

.container {
    max-width: 75rem; /* 1200px */
    margin: 0 auto;
}

.container:not(.menu){
    padding: 3rem 1rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}

/* Typographic Styles */

h1, h2, h3{
    font-family:'Merriweather', serif;
}

h2{

    font-size: 2rem;
 padding: 1rem 0;
}
 
p{
    margin-bottom: 1rem;
}
/* Navigation */

nav{
    padding: 0.5rem;
}

nav.container > div{
align-items: center;
}

nav img {
    margin-right: 1rem;
    width: 4rem;
}

nav ul li {
    align-items: center;
    display: flex;
}

nav ul li a {
    color: #37384c;
    font-size: 1.2rem;
    margin-left: 1rem;
    text-decoration: none;

}
nav ul li a {
    text-decoration: underline;
}


/* Hero Banner */

header section {
    background-image: url(../img/hero-banner.webp);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    line-height: 1.2;
}

header section div.flex {
 flex-flow: column wrap;
 align-items: center;
 height: calc(100vh - 5rem);
}

header section h2 {
    font-size: 4rem;
    letter-spacing: 1px;
}

header section p {
    font-size: 2rem;
}

/* Main Content */

main img {
    border-radius: 1rem;

}

main section:nth-child(2) {
    background-color: #37384c;
    color: #fff;
}

.menu-item {
    width: calc(100%/2 - 1 rem);
}

.menu-item h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    letter-spacing: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.menu-item :user-valid{
    
    font-size: 1.2rem;
    padding-bottom: 2rem 0 0 0;
    letter-spacing: 2rem;
    text-align: center;
    text-transform: uppercase;
}
/* Menu */


/* Location */

main section:last:nth-child.flex {
    align-items: center;
    justify-content: flex-start;
}

main section:last-child img{
    max-width: 50%;
    padding-right: 2rem;
}

main section:last-child h3{
    padding: 2rem 0 1rem 0;
}

/* Footer */

footer {
    background-color: #37384c;
    color: #fff;
    margin-top: 3rem;
    text-align: center;
}

footer a {
    color: #fff;
}