/* COLOUR PALETTE
    dark    #333;
    navy    #37384c;
    creme   #e9dccc;
*/

body {
    background-color: #e9dccc;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

/* Utility Classes */


/* Typographic Styles */


/* Navigation */


/* Hero Banner */


/* Main Content */


/* Menu */


/* Location */


/* Footer */
