body {
    font-family: sans-serif;
}


/* ***************** typography *************** */
h1 {
    font-size: 1.4rem;
}

h2,
h3 {
    color: #303239;
    font-size: 1.2rem;
    font-family: serif;
}

/* ******************** header ******************* */
header {
    background-color: #303239;
    color: #fff;
    text-transform: uppercase;
}

/* make all images flexible - ie. they cannot be larger than the container that they are in */
.banner {
    background: url(../img/bg-small.jpg) center center / cover no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 8rem;
    color: #fff;
}

h1{
  padding: 1rem;
}

h2{
    color: #fff;
}



.card  img{
    width: 100%;
}
/* img{
    width: 100%;
} */

.container{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
}



@media screen and (min-width: 730px) {

    .card{
        width: calc(100% / 2 - 1.5rem);
        
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: unset;
    }
    .banner{
        background: url(../img/bg-med.jpg) center center / cover no-repeat;
    }
    section .banner{
        width: 100%;
    }

    
}

@media screen and (min-width: 960px) {

    .card{
        width: calc(100% / 4 - 1.5rem);
        
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: unset;
    }
    .banner{
        background: url(../img/bg-large.jpg) center center / cover no-repeat;
    }
    section .banner{
        width: 100%;
    }

    
}


/**** add a responsive 100% width background image to the banner area*/

/* ********************* layout ********************** */
/* add spacing around all the content, but don't limit it to a fixed width so it can grow as the screen grows */


/* create first breakpoint for when the layout changes to 2 columns */

/** when the quality of the smaller image doesn't look good, swap it out for a higher quality image **/


/* create the next breakpoint to change to fours columns across */







